module-webservice/src/main/resources/xsds/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">

  <xs:element name="comment" type="comment"/>

  <xs:complexType name="comment">
    <xs:sequence>
      <xs:element minOccurs="0" name="content" type="xs:string"/>
      <xs:element minOccurs="0" name="date" type="xs:dateTime"/>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
